body {
  font-size: 16px;
  color: #202020;
}

a {
  text-decoration: none;
}

.error {
  color: #a11517;
  display: none;
}

.highlight {
  color: #68bada;
}

.grey {
  color: #aaa;
}

.feed {
  margin: 30px 0;
}

.feed h3 {
  margin: 0;
}

.feed .stats {
  margin: 5px 0 10px 0;
}

.feed .body {
  height: 33px;
  font-size: 13px;
  overflow: hidden;
  color: #aaa;
}

.tags {
  margin: 10px 0;
}

.tags .tag-button {
  color: #fff;
  background-color: #aaa;
  display: inline-block;
  margin-right: 5px;
  padding: 3px 5px;
}

.tags .tag-button.active {
  background-color: #68bada;
}

.tags .tag-button .remove {
  cursor: pointer;
}

.tags .tag-button a {
  color: #fff;
}