body {
  font-size: 16px;
  color: #202020;
}

a {
  text-decoration: none;
  color: #1a4f98;
}

a.diff-visited:visited {
  color: #aaa;
}

.error {
  color: #a11517;
  display: none;
}

.highlight {
  color: #68bada;
}

.grey {
  color: #aaa;
}

.spacer {
  margin: 0 0.3em;
}

input[type=text] {
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  border: 1px solid #68bada;
}

h1 small {
  font-size: 0.6em;
  font-weight: normal;
}

.option-form {
  font-size: 13px;
  margin: 20px 0;
}

.option-form select {
  font-size: 13px;
}

.button {
  border: none;
  color: white;
  padding: 9px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 20px #eee;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #68bada 0%, #1a4f98 52%, #68bada 100%);
  transition: 0.5s;
  margin-left: -5px;
}
.button:hover {
  background-position: right center;
}

.feed {
  margin: 30px 0;
  position: relative;
}

.feed .image {
  width: 100px;
  background-color: #efefef;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.feed .image img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.feed .summary {
  padding-left: 120px;
}

.feed h3 {
  margin: 0;
}

.feed .stats {
  margin: 5px 0 10px 0;
}

.feed .body {
  height: 33px;
  font-size: 13px;
  overflow: hidden;
  color: #aaa;
}

.tags {
  margin: 10px 0;
}

.tags .tag-button {
  color: #fff;
  background-color: #aaa;
  display: inline-block;
  margin-right: 5px;
  padding: 7px 34px 7px 15px;
  position: relative;
}

.tags .tag-button.all {
  padding: 7px 15px;
}

.tags .tag-button.active {
  background-color: #68bada;
}

.tags .tag-button .remove {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 23px;
  text-align: center;
  line-height: 37px;
  background-color: rgba(255,255,255,0.3);
}

.tags .tag-button a {
  color: #fff;
}